<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="LobotomyPlaywright Plugin Rules" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <!-- Disable code analysis rules that conflict with .NET 3.5 constraints -->
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1066" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1069" Action="None" />
    <Rule Id="CA1070" Action="None" />
    <Rule Id="CA1071" Action="None" />
    <Rule Id="CA1094" Action="None" />
    <Rule Id="CA1119" Action="None" />
    <Rule Id="CA1121" Action="None" />
    <Rule Id="CA1134" Action="None" />
    <Rule Id="CA1200" Action="None" />
    <Rule Id="CA1201" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1310" Action="None" />
    <Rule Id="CA1311" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1416" Action="None" />
    <Rule Id="CA1417" Action="None" />
    <Rule Id="CA1418" Action="None" />
    <Rule Id="CA1420" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1508" Action="None" />
    <Rule Id="CA1509" Action="None" />
    <Rule Id="CA1510" Action="None" />
    <Rule Id="CA1511" Action="None" />
    <Rule Id="CA1512" Action="None" />
    <Rule Id="CA1513" Action="None" />
    <Rule Id="CA1514" Action="None" />
    <Rule Id="CA1515" Action="None" />
    <Rule Id="CA1516" Action="None" />
    <Rule Id="CA1517" Action="None" />
    <Rule Id="CA1518" Action="None" />
    <Rule Id="CA1519" Action="None" />
    <Rule Id="CA1520" Action="None" />
    <Rule Id="CA1521" Action="None" />
    <Rule Id="CA1522" Action="None" />
    <Rule Id="CA1523" Action="None" />
    <Rule Id="CA1524" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA1827" Action="None" />
    <Rule Id="CA1828" Action="None" />
    <Rule Id="CA1829" Action="None" />
    <Rule Id="CA1854" Action="None" />
    <Rule Id="CA1861" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2008" Action="None" />
    <Rule Id="CA2011" Action="None" />
    <Rule Id="CA2016" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2207" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2228" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2234" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA2243" Action="None" />
    <Rule Id="CA2244" Action="None" />
    <Rule Id="CA2245" Action="None" />
    <Rule Id="CA2246" Action="None" />
    <Rule Id="CA2247" Action="None" />
    <Rule Id="CA2248" Action="None" />
    <Rule Id="CA2249" Action="None" />
    <Rule Id="CA2251" Action="None" />
    <Rule Id="CA2254" Action="None" />
    <Rule Id="CA2267" Action="None" />
    <Rule Id="CA2301" Action="None" />
    <Rule Id="CA2302" Action="None" />
    <Rule Id="CA2303" Action="None" />
    <Rule Id="CA2304" Action="None" />
    <Rule Id="CA2305" Action="None" />
    <Rule Id="CA2306" Action="None" />
    <Rule Id="CA2307" Action="None" />
    <Rule Id="CA2308" Action="None" />
    <Rule Id="CA2309" Action="None" />
    <Rule Id="CA2310" Action="None" />
    <Rule Id="CA2311" Action="None" />
    <Rule Id="CA2312" Action="None" />
    <Rule Id="CA2315" Action="None" />
    <Rule Id="CA2318" Action="None" />
    <Rule Id="CA2321" Action="None" />
    <Rule Id="CA2322" Action="None" />
    <Rule Id="CA2326" Action="None" />
    <Rule Id="CA2327" Action="None" />
    <Rule Id="CA2328" Action="None" />
    <Rule Id="CA2329" Action="None" />
    <Rule Id="CA2330" Action="None" />
    <Rule Id="CA2333" Action="None" />
    <Rule Id="CA2335" Action="None" />
    <Rule Id="CA2336" Action="None" />
    <Rule Id="CA2337" Action="None" />
    <Rule Id="CA2338" Action="None" />
    <Rule Id="CA2339" Action="None" />
    <Rule Id="CA2342" Action="None" />
    <Rule Id="CA2343" Action="None" />
    <Rule Id="CA2344" Action="None" />
    <Rule Id="CA2345" Action="None" />
    <Rule Id="CA2346" Action="None" />
    <Rule Id="CA2347" Action="None" />
    <Rule Id="CA2350" Action="None" />
    <Rule Id="CA2351" Action="None" />
    <Rule Id="CA2352" Action="None" />
    <Rule Id="CA2353" Action="None" />
    <Rule Id="CA2354" Action="None" />
    <Rule Id="CA2355" Action="None" />
    <Rule Id="CA2356" Action="None" />
    <Rule Id="CA2357" Action="None" />
    <Rule Id="CA2358" Action="None" />
    <Rule Id="CA2359" Action="None" />
    <Rule Id="CA2360" Action="None" />
    <Rule Id="CA2361" Action="None" />
    <Rule Id="CA2362" Action="None" />
    <Rule Id="CA2363" Action="None" />
    <Rule Id="CA2364" Action="None" />
    <Rule Id="CA2365" Action="None" />
    <Rule Id="CA2366" Action="None" />
    <Rule Id="CA2367" Action="None" />
    <Rule Id="CA2368" Action="None" />
    <Rule Id="CA2369" Action="None" />
    <Rule Id="CA2370" Action="None" />
    <Rule Id="CA2371" Action="None" />
    <Rule Id="CA2372" Action="None" />
    <Rule Id="CA2373" Action="None" />
    <Rule Id="CA2374" Action="None" />
    <Rule Id="CA2375" Action="None" />
    <Rule Id="CA2376" Action="None" />
    <Rule Id="CA2377" Action="None" />
    <Rule Id="CA2378" Action="None" />
    <Rule Id="CA2379" Action="None" />
    <Rule Id="CA2380" Action="None" />
    <Rule Id="CA2381" Action="None" />
    <Rule Id="CA2382" Action="None" />
    <Rule Id="CA2383" Action="None" />
    <Rule Id="CA2384" Action="None" />
    <Rule Id="CA2385" Action="None" />
    <Rule Id="CA2386" Action="None" />
    <Rule Id="CA2387" Action="None" />
    <Rule Id="CA2388" Action="None" />
    <Rule Id="CA2389" Action="None" />
    <Rule Id="CA2390" Action="None" />
    <Rule Id="CA2391" Action="None" />
    <Rule Id="CA2392" Action="None" />
    <Rule Id="CA2393" Action="None" />
    <Rule Id="CA2394" Action="None" />
    <Rule Id="CA2395" Action="None" />
    <Rule Id="CA2396" Action="None" />
    <Rule Id="CA2397" Action="None" />
    <Rule Id="CA2398" Action="None" />
    <Rule Id="CA2399" Action="None" />
    <Rule Id="CA2400" Action="None" />
    <Rule Id="CA2401" Action="None" />
    <Rule Id="CA2402" Action="None" />
    <Rule Id="CA2403" Action="None" />
    <Rule Id="CA2404" Action="None" />
    <Rule Id="CA2405" Action="None" />
    <Rule Id="CA2406" Action="None" />
    <Rule Id="CA2407" Action="None" />
    <Rule Id="CA2408" Action="None" />
    <Rule Id="CA2409" Action="None" />
    <Rule Id="CA2410" Action="None" />
    <Rule Id="CA2411" Action="None" />
    <Rule Id="CA2412" Action="None" />
    <Rule Id="CA2413" Action="None" />
    <Rule Id="CA2414" Action="None" />
    <Rule Id="CA2415" Action="None" />
    <Rule Id="CA2416" Action="None" />
    <Rule Id="CA2417" Action="None" />
    <Rule Id="CA2418" Action="None" />
    <Rule Id="CA2419" Action="None" />
    <Rule Id="CA2420" Action="None" />
    <Rule Id="CA2421" Action="None" />
    <Rule Id="CA2422" Action="None" />
    <Rule Id="CA2423" Action="None" />
    <Rule Id="CA2424" Action="None" />
    <Rule Id="CA2425" Action="None" />
    <Rule Id="CA2426" Action="None" />
    <Rule Id="CA2427" Action="None" />
    <Rule Id="CA2428" Action="None" />
    <Rule Id="CA2429" Action="None" />
    <Rule Id="CA2430" Action="None" />
    <Rule Id="CA2431" Action="None" />
    <Rule Id="CA2432" Action="None" />
    <Rule Id="CA2433" Action="None" />
    <Rule Id="CA2434" Action="None" />
    <Rule Id="CA2435" Action="None" />
    <Rule Id="CA2436" Action="None" />
    <Rule Id="CA2437" Action="None" />
    <Rule Id="CA2438" Action="None" />
    <Rule Id="CA2439" Action="None" />
    <Rule Id="CA2440" Action="None" />
    <Rule Id="CA2441" Action="None" />
    <Rule Id="CA2442" Action="None" />
    <Rule Id="CA2443" Action="None" />
    <Rule Id="CA2444" Action="None" />
    <Rule Id="CA2445" Action="None" />
    <Rule Id="CA2446" Action="None" />
    <Rule Id="CA2447" Action="None" />
    <Rule Id="CA2448" Action="None" />
    <Rule Id="CA2449" Action="None" />
    <Rule Id="CA2450" Action="None" />
    <Rule Id="CA2451" Action="None" />
    <Rule Id="CA2452" Action="None" />
    <Rule Id="CA2453" Action="None" />
    <Rule Id="CA2454" Action="None" />
    <Rule Id="CA2455" Action="None" />
    <Rule Id="CA2456" Action="None" />
    <Rule Id="CA2457" Action="None" />
    <Rule Id="CA2458" Action="None" />
    <Rule Id="CA2459" Action="None" />
    <Rule Id="CA2460" Action="None" />
    <Rule Id="CA2461" Action="None" />
    <Rule Id="CA2462" Action="None" />
    <Rule Id="CA2463" Action="None" />
    <Rule Id="CA2464" Action="None" />
    <Rule Id="CA2465" Action="None" />
    <Rule Id="CA2466" Action="None" />
    <Rule Id="CA2467" Action="None" />
    <Rule Id="CA2468" Action="None" />
    <Rule Id="CA2469" Action="None" />
    <Rule Id="CA2470" Action="None" />
    <Rule Id="CA2471" Action="None" />
    <Rule Id="CA2472" Action="None" />
    <Rule Id="CA2473" Action="None" />
    <Rule Id="CA2474" Action="None" />
    <Rule Id="CA2475" Action="None" />
    <Rule Id="CA2476" Action="None" />
    <Rule Id="CA2477" Action="None" />
    <Rule Id="CA2478" Action="None" />
    <Rule Id="CA2479" Action="None" />
    <Rule Id="CA2480" Action="None" />
    <Rule Id="CA2481" Action="None" />
    <Rule Id="CA2482" Action="None" />
    <Rule Id="CA2483" Action="None" />
    <Rule Id="CA2484" Action="None" />
    <Rule Id="CA2485" Action="None" />
    <Rule Id="CA2486" Action="None" />
    <Rule Id="CA2487" Action="None" />
    <Rule Id="CA2488" Action="None" />
    <Rule Id="CA2489" Action="None" />
    <Rule Id="CA2490" Action="None" />
    <Rule Id="CA2491" Action="None" />
    <Rule Id="CA2492" Action="None" />
    <Rule Id="CA2493" Action="None" />
    <Rule Id="CA2494" Action="None" />
    <Rule Id="CA2495" Action="None" />
    <Rule Id="CA2496" Action="None" />
    <Rule Id="CA2497" Action="None" />
    <Rule Id="CA2498" Action="None" />
    <Rule Id="CA2499" Action="None" />
    <Rule Id="CA2500" Action="None" />
    <Rule Id="CA2501" Action="None" />
    <Rule Id="CA2502" Action="None" />
    <Rule Id="CA2503" Action="None" />
    <Rule Id="CA2504" Action="None" />
    <Rule Id="CA2505" Action="None" />
    <Rule Id="CA2506" Action="None" />
    <Rule Id="CA2507" Action="None" />
    <Rule Id="CA2508" Action="None" />
    <Rule Id="CA2509" Action="None" />
    <Rule Id="CA2510" Action="None" />
    <Rule Id="CA2511" Action="None" />
    <Rule Id="CA2512" Action="None" />
    <Rule Id="CA2513" Action="None" />
    <Rule Id="CA2514" Action="None" />
    <Rule Id="CA2515" Action="None" />
    <Rule Id="CA2516" Action="None" />
    <Rule Id="CA2517" Action="None" />
    <Rule Id="CA2518" Action="None" />
    <Rule Id="CA2519" Action="None" />
    <Rule Id="CA2520" Action="None" />
    <Rule Id="CA2521" Action="None" />
    <Rule Id="CA2522" Action="None" />
    <Rule Id="CA2523" Action="None" />
    <Rule Id="CA2524" Action="None" />
    <Rule Id="CA2525" Action="None" />
    <Rule Id="CA2526" Action="None" />
    <Rule Id="CA2527" Action="None" />
    <Rule Id="CA2528" Action="None" />
    <Rule Id="CA2529" Action="None" />
    <Rule Id="CA2530" Action="None" />
    <Rule Id="CA2531" Action="None" />
    <Rule Id="CA2532" Action="None" />
    <Rule Id="CA2533" Action="None" />
    <Rule Id="CA2534" Action="None" />
    <Rule Id="CA2535" Action="None" />
    <Rule Id="CA2536" Action="None" />
    <Rule Id="CA2537" Action="None" />
    <Rule Id="CA2538" Action="None" />
    <Rule Id="CA2539" Action="None" />
    <Rule Id="CA2540" Action="None" />
    <Rule Id="CA2541" Action="None" />
    <Rule Id="CA2542" Action="None" />
    <Rule Id="CA2543" Action="None" />
    <Rule Id="CA2544" Action="None" />
    <Rule Id="CA2545" Action="None" />
    <Rule Id="CA2546" Action="None" />
    <Rule Id="CA2547" Action="None" />
    <Rule Id="CA2548" Action="None" />
    <Rule Id="CA2549" Action="None" />
    <Rule Id="CA2550" Action="None" />
    <Rule Id="CA2551" Action="None" />
    <Rule Id="CA2552" Action="None" />
    <Rule Id="CA2553" Action="None" />
    <Rule Id="CA2554" Action="None" />
    <Rule Id="CA2555" Action="None" />
    <Rule Id="CA2556" Action="None" />
    <Rule Id="CA2557" Action="None" />
    <Rule Id="CA2558" Action="None" />
    <Rule Id="CA2559" Action="None" />
    <Rule Id="CA2560" Action="None" />
    <Rule Id="CA2561" Action="None" />
    <Rule Id="CA2562" Action="None" />
    <Rule Id="CA2563" Action="None" />
    <Rule Id="CA2564" Action="None" />
    <Rule Id="CA5304" Action="None" />
    <Rule Id="CA5305" Action="None" />
    <Rule Id="CA5306" Action="None" />
    <Rule Id="CA5307" Action="None" />
    <Rule Id="CA5308" Action="None" />
    <Rule Id="CA5309" Action="None" />
  </Rules>
</RuleSet>
