[*]
resharper_nullable_warning_suppression_is_used_highlighting = none

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = true

# ReSharper properties
resharper_wrap_object_and_collection_initializer_style = chop_always
